@import url('./reset.css');

body {
  background-color: var(--app-background);
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background: #181b2d;
  --app-storage: rgba(50, 67, 75, 0.5);
  --app-white: #fff;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-shape-blue: #09f;
  --app-shape-green: #9f0;
  --app-shape-orange: #f90;
  --app-shape-pink: #f09;
  --app-shape-purple: #90f;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.title {
  display: grid;
  place-items: center;
  padding-top: 160px;
}

h1 {
  color: var(--app-white);
  font-size: 40px;
  letter-spacing: 0.4px;
}

.select-box {
  margin-left: 38%;
}

.color, .shape {
  background-color: var(--app-storage);
  color: var(--app-white);
  height: 40px;
  width: 150px;
  margin: 15px 10px;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.4px;
  border-radius: 5px;
}

.create {
  background-color: var(--app-blue);
  color: var(--app-white);
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.4px;
  border-radius: 5px;
}

.create:hover {
  background-color: var(--app-blue-hover);
}

.storage {
  background-color: var(--app-storage);
  margin-top: 10px;
  height: 520px;
  width: 1000px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(5, 190px);
  grid-template-rows: repeat(4, 115px);
  gap: 15px;
  padding: 5px;
}

.output {
  display: grid;
  place-items: center;
  margin-top: 20px;
  font-size: 20px;
  color: var(--app-white);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Selector Styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.circle {
  margin-left: 10px;
  margin-top: 5px;
  width: 140px;
  border-radius: 50%;
}

.square {
  margin: 5px;
  margin-left: 15px;
  width: 140px;
  border-radius: 10px;
}

.blue {
  background-color: var(--app-shape-blue);
}

.green {
  background-color: var(--app-shape-green);
}

.orange {
  background-color: var(--app-shape-orange);
}

.pink {
  background-color: var(--app-shape-pink);
}

.purple {
  background-color: var(--app-shape-purple);
}
